body, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.header {
  background-position: center;
  background-size: cover;
  background-image: url('404.jpg');
  min-height: 100%;
}

.w3-hover-opacity {cursor: pointer;}